.placeicon {
    font-family: fontawesome
}

.custom-control-label::before {
    background-color: #dee2e6;
    border: #dee2e6
}

#password-criteria li.invalid, #phoneNum-validation.invalid, #email-validation.invalid, #email-message.invalid, #username-message.invalid, #name-validation.invalid {
    color: red;
}

#password-criteria li.valid {
    color: green;
}

input.invalid {
    border-color: red;
}

input.valid {
    border-color: green;
}
